body{
  margin: 0;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.wrapper{
  display: flex;
}
.header{
width: 100%;
background-color: black;
position: relative;

}
.header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.header-text-center{
  justify-content: center;

  color: white;
}
.dropbtn{
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;

}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: red;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: grey;

}

li a{
  width: 50%;
  background: lightgrey;
  height: 30px;
  text-align: center;
  background: grey;
  color: black;
  padding: 10px;
  text-decoration: none;
  float: left;
  font-family: Montserrat;
}
li a:hover{
  background-color: #555;
  color: white;
}
.description{

}
.description h1{
  text-align: center;
  font-weight: normal;
  font-family: Merriweather;
}
.description p{
  text-align: justify;
  margin: 10px;
  font-family: Montserrat;
}
.char-global1{
  display: flex;
  flex-direction: row;
}
h1{
  text-align: center;
  font-family: Merriweather;
  font-weight: normal;
}
.char{
  width: 25%;
  height: 25%;
  margin-left: 90px
}
.char h2{
  text-align: center;
}
.char p{
  text-align: justify;
}
.images h2{
  align-content: center;
}

.video{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.movies tr th{
padding: 20px;




}
.movie{
background-color: lightblue;
}

.movie-list ol {

    padding: 20px;
}

.movie-list ul {
    background: #3399ff;
    padding: 20px;
}

.movie-list ol li {

    padding: 5px;
    margin-left: 35px;
}

.movie-list ul li {
    background: #cce5ff;
    margin: 5px;
}
.movie-theater tr th{
  padding: 50px;
  width: 500px;
}

.form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}

#link{
  padding: 10px;

}
.end{
  padding: 10px;
}
